{% extends "base.html" %}


{% load static %}


{% block content %}
<div class="main-conteiner">
<div class="conteiner-total">
    <div class="balance">
        <h2>Balance: <span class="price">{{ total_balance }} SMN</span> <img class="somoni" src="{% static 'images/tajikistan.png' %}" alt=""></h2>
        <h3>Total income: <span  class="price">{{ total_income }} SMN</span><img class="somoni" src="{% static 'images/tajikistan.png' %}" alt=""></h3>
        <h3>Total expense: <span class="price-expense">-{{ total_expense }} SMN</span><img class="somoni" src="{% static 'images/tajikistan.png' %}" alt=""></h3>
    </div>
</div>
<div class="conteiner-total this-month">
    <img src="" alt="">
    <div class="this-month-item">
        <h2>This month</h2>
        <h3>Total income: <span  class="price">500 SMN<img class="somoni" src="{% static 'images/tajikistan.png' %}" alt=""></span></h3>
        <h3>Total expense: <span  class="price">500 SMN<img class="somoni" src="{% static 'images/tajikistan.png' %}" alt=""></span></h3>
    </div>
</div>
<div class="conteiner-total last-month">
    <img src="" alt="">
    <div class="this-month-item">
        <h2>Last month</h2>
        <h3>Total income: <span  class="price">500 SMN<img class="somoni" src="{% static 'images/tajikistan.png' %}" alt=""></span></h3>
        <h3>Total expense: <span  class="price">500 SMN<img class="somoni" src="{% static 'images/tajikistan.png' %}" alt=""></span></h3>
    </div>
</div>
</div>

{% endblock %}